:root {
    --light: rgb(210, 210, 210);
    --very-light: rgb(235, 235, 235);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: grid;
    grid-template-areas:
        "left top top"
        "left main side";
    grid-template-columns: 0fr 5fr 0fr;
    grid-template-rows: 5rem minmax(calc(100vh - 5rem), auto);
}


/* Left side bar */
.left {
    grid-area: left;
    background-color: #1E1E1F;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 2px 0px 2px 0px;
}

.left-btn {
    padding: 0 0 2rem;
}

.left-btn > a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.left-btn img {
    filter: invert(100%);
    height: 1.25rem;
}

.left a:hover {
    color: var(--light);
}


/* Top navigation bar */
.top {
    grid-area: top;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.nav {
    padding: 0 2rem 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1.5rem;
}

.greet {
    font-weight: 600;
    font-size: 1.15rem;
}

.nav input.search {
    background-color: var(--very-light);
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 20px;
    width: 20rem;
}

.profile {
    border-radius: 50%;
    background-image: url(images/icon.jpg);
    width: 3rem ;
    height: 3rem;
    border: 1px solid var(--very-light);
    background-size: cover;
    background-position: center;
}

.icon {
    width: 1.75rem ;
    height: 1.75rem;
}

.nav a:hover {
    color: darkgrey;
}


/* Main grid */
.main {
    grid-area: main;
    margin: 0px 1.25rem 1.25rem 1.25rem;
}

.cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-auto-rows: minmax(15rem, 1fr);
}

.card {
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
    padding: 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;
}

.main .card {
    grid-auto-rows: 0fr 1fr;
}

.card-title {
    padding-bottom: 1rem;
}

.card-text {
    color: grey;
    font-size: .9rem;
}

.card-button {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.card-button > * {
    width: 1.5rem;
    height: 1.5rem;
}


/* Side grid */
.side {
    grid-area: side;
    margin: 0px 1.25rem 1.25rem 0;
}

.trending {
    display: grid;
    grid-template-areas:
        "icon tag"
        "icon text";
    grid-template-columns: 5rem 1fr;
    grid-template-rows: 2rem 1fr;
    border: 1px;
}

.trending-icon {
    grid-area: icon;
    border-radius: 50%;
    width: 4rem ;
    height: 4rem;
}

.trending-tag {
    grid-area: tag;
}

.trending-text {
    grid-area: text;
}


/* Other style */
.bg-whitesmoke {
    background-color: whitesmoke;
}

.title {
    font-size: 1.5rem;
    padding: 2rem 0 2rem;
}

.tab {
    padding-left: 1rem;
}

.separator-v {
    background-color: var(--very-light);
    height: 2rem;
    width: 1px;
    margin: 0;
    padding: 0;
}

.separator-h {
    background-color: var(--very-light);
    height: 1px;
    width: 100%;
    margin: 1.5rem 0 1.5rem;
}

/* .border * {
    border: 1px solid green;
} */